body {
    background-color: #73000A;
    color: white;
    text-align: center;
    font-family: Noto Sans;
}

.div1 {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 5px;
}

img {
    width: 100%;
}

a {
    color: #73000A;
    font-weight: bold;
}
